pycnbi/glass/bgi-cnbi/app/build
pycnbi/glass/bgi-cnbi/build
pycnbi/build
build
obj
__pycache__
.DS_Store
.idea
pycnbi_project.wpr
pycnbi_project.wpu
*.egg-info
*.egg
*.asv
*.pyc
*.pyo
*~
*.log
*.swp
*.zip
*.rar
*.7z
*.tar
*.bz2
*.gz
*.arj
*.tmp
*.bak
*.pcl
*.hdf5
*.gdf
*.bdf
*.wpr
*.wpu