neurodecode/glass/bgi-cnbi/app/build
neurodecode/glass/bgi-cnbi/build
/docs/sphinx/_child-documents/generated
/docs/sphinx/build/doctrees
/docs/sphinx/build/_static
/docs/sphinx/build/_child-documents
/docs/sphinx/build/_sources
obj
__pycache__
.DS_Store
.idea
*.egg-info
*.egg
*.asv
*.pyc
*.pyo
*~
*.log
*.swp
*.zip
*.rar
*.7z
*.tar
*.bz2
*.gz
*.arj
*.tmp
*.bak
*.pcl
*.hdf5
*.gdf
*.bdf
*.wpr
*.wpu