# Extra requirements for full NeuroDecode functionalities.
# FORMAT: package[version_required]      # tag1, tag2, ...
# Examples:
# numpy>=1.20          # xyz, xyz_2

pyserial               # trigger_arduino2lpt
vispy                  # vispy_backend
