# Extra requirements for full BrainStreamingLayer functionalities.
# FORMAT: package[version_required]      # tag1, tag2, ...
# Examples:
# numpy>=1.20          # xyz, xyz_2

pyserial                                        # parallel, parallelport, lpt
pyparallel; platform_system == "Linux"          # parallel, parallelport, lpt
matplotlib                                      # doc, doc-build, documentation
sphinx                                          # doc, doc-build, documentation
sphinx-gallery                                  # doc, doc-build, documentation
pydata-sphinx-theme                             # doc, doc-build, documentation
numpydoc                                        # doc, doc-build, documentation
pytest                                          # test, testing
pytest-cov                                      # test, testing
requests                                        # test, testing
black                                           # test, testing
wheel                                           # build, distribution
twine                                           # build, distribution
