name: doc
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
# https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#pullrequestevent
# workflow name, PR number (empty on push), push ref (empty on PR)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  pull_request:
    branches:
      - '*'
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    timeout-minutes: 10
    name : build
    runs-on: ubuntu-latest
    env:
      LSL_RELEASE_URL: 'https://github.com/sccn/liblsl/releases/download/v1.14.1b9'
      LSL_RELEASE: '1.14.1'
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install liblsl (Ubuntu)
        run: |
          sudo apt install -y libpugixml-dev
          curl -L ${LSL_RELEASE_URL}/liblsl-${LSL_RELEASE}-$(lsb_release -sc)_amd64.deb -o liblsl.deb
          sudo apt install ./liblsl.deb
      - name: Install BSL
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install .
          python -m pip install -r requirements_ci_doc.txt
      - name: 'Cache BSL testing dataset'
        uses: actions/cache@v2
        with:
          key: ${{ matrix.os }}-bsl_data
          path: ~/bsl_data
      - name: Download BSL testing dataset
        run: python -c 'import bsl; bsl.datasets._download_all_datasets()'
      - name: 'Build documentation'
        uses: rickstaa/sphinx-action@master
        with:
          docs-folder: "./doc"
