name: pylsl
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  pull_request:
  schedule:
  - cron: '0 8 * * 1'

jobs:
  sha256:
    timeout-minutes: 2
    runs-on: ubuntu-latest
    env:
      SHA256_PYLSL_TRUE: dd9222ee3894c43535b40aee542a2c8cb6062a467d4b103bd3c3a713d7c7690
      SHA256_PYLSL: dd9222ee3894c43535b40aee542a2c8cb6062a467d4b103bd3c3a713d7c7691
    steps:
      - name: Checkout pylsl repository
        uses: actions/checkout@v3
        with:
          repository: labstreaminglayer/pylsl
      - name: Compare checksum
        run: echo "$SHA256_PYLSL pylsl/pylsl.py" | sha256sum -c
      - name: Create GitHub issue
        if: failure()
        uses: dacbd/create-issue-action@main
        with:
          token: ${{ github.token }}
          title: Test issue
          body: my new issue
