name: pytest
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  pytest:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows]
        python-version: [3.8, 3.9, "3.10"]
    name: ${{ matrix.os }} - ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    env:
      LSL_RELEASE_URL: 'https://github.com/sccn/liblsl/releases/download/v1.16.0/liblsl-1.16.0-focal_amd64.deb'
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --progress-bar off --upgrade pip setuptools wheel
          python -m pip install --progress-bar off .[test]
      - name: Display system information
        run: bsl-sys_info --developer
      # - name: Install liblsl (Ubuntu)
      #   if: ${{ matrix.os == 'ubuntu'}}
      #   run: |
      #     sudo apt install -y libpugixml-dev
      #     curl -L ${LSL_RELEASE_URL} -o liblsl.deb
      #     sudo apt install ./liblsl.deb
      - name: 'Cache BSL testing dataset'
        uses: actions/cache@v3
        with:
          key: ${{ matrix.os }}-bsl_data
          path: ~/bsl_data
      - name: Download BSL testing dataset
        run: python -c 'import bsl; bsl.datasets._download_all_datasets()'
      - name: DEBUG
        run: pytest bsl/lsl/tests
      - name: Run pytest
        run: pytest bsl --cov=bsl --cov-report=xml --cov-config=pyproject.toml
      - name: Upload to codecov
        if: ${{ matrix.os == 'ubuntu' && matrix.python-version == 3.9 }}
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          flags: unittests # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
