name: pytest
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
# https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#pullrequestevent
# workflow name, PR number (empty on push), push ref (empty on PR)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - '*.py'
  push:
    branches: [master]
    paths:
      - '*.py'

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]
    name: pytest ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt -r requirements_extras.txt
      - name: 'Cache testing data'
        uses: actions/cache@v2
          with:
            key: ${{ matrix.os }}-bsl_data
            path: ~/bsl_data
      - name: Download testing data
        run: python -c 'import bsl; bsl.datasets._download_all_datasets()'
      - name: Run pytest
        run: pytest bsl
